.output {
  margin: 2rem 0;
  font-size: 1.2rem;
  display: flex;
  flex-flow: row wrap;
  max-width: 90%;
  justify-content: space-between;
  align-content: space-between;
}

label {
  font-size: 1rem;
}

select {
  border-radius: 8px;
  padding: 5px;
}

a {
  text-decoration: none;
}
